<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template detalle de producto</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <!--Header-->

    <header class="mainheader">

        <div class="mainheader__container">
            <button class="hamburguerbtn">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <img class="mainheader__logo" src="/img/logo.png" alt="logo Kactu">
            <a href="#" class="mainheader__link">Kactu</a>
        </div>

        <nav class="mainheader__nav">
            <a href="/" class="mainnav__link">Inicio</a>
            <a href="#" class="mainnav__link">Maquillaje</a>
            <a href="#" class="mainnav__link">Promociones</a>
            <a href="/shop" class="mainnav__link">Tienda</a>
            <a href="#" class="mainnav__link">Contactános</a>
        </nav>

        <div class="mainheader__body">
            <img class="mainheader__icon" src="/img/iconos.png" alt="cora">
            <div class="mainheader__button">
                <button class="mainheader__search">
                    <img class="mainheader__lupa" src="/img/buscador.png" alt="" srcset="">
                </button>
                <input type="text" placeholder=" ¿Te podemos ayudar? " class="mainheader__input">
            </div>
        </div>

    </header>

    {{{ body }}}

    <!--footer-->
        <section class="footer__body">
        <div class="footer__text">
            <div class="footer__politics">
                <h2 class="footer__ph2">Políticas</h2>
                <h3 class="footer__ph3">Terminos y condiciones</h3>
                <h4 class="footer__ph4">Aviso de privacidad</h4>
                <h5 class="footer__ph5">Política de Uso de Cookies</h5>
            </div>
            <div class="footer__service">
                <h2 class="footer__sh2">Links de interes</h2>
                <h3 class="footer__sh3">Servicio al cliente</h3>
                <h4 class="footer__sh4">Puntos Kactu</h4>
                <h5 class="footer__sh5">Localiza tu tienda</h5>
            </div>
            <div class="footer__contact">
                <h2 class="footer__ch2">Acerca de nosotros</h2>
                <h3 class="footer__ch3">Nuestra marca</h3>
                <h4 class="footer__ch4">Trabaja con nosotros</h4>
            </div>
        </div>
    </section>

    


    
</body>
</html>