<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template detalle de producto</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <!--Header-->

    <header class="mainheader">

        <div class="mainheader__container">
            <button class="hamburguerbtn">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <img class="mainheader__logo" src="/img/logo.png" alt="logo Kactu">
            <a href="#" class="mainheader__link">Kactu</a>
        </div>

        <nav class="mainheader__nav">
            <a href="/" class="mainnav__link">Home</a>
            <a href="#" class="mainnav__link">New</a>
            <a href="#" class="mainnav__link">Stories</a>
            <a href="/shop" class="mainnav__link">Shop</a>
            <a href="/checkout" class="mainnav__link">Checkout</a>
        </nav>

        <div class="mainheader__body">
            <!-- <img class="mainheader__icon" src="/img/iconos.png" alt="cora">-->
            <div class="search__cart">
                <a href="/cart" class="search__img">
                    <img class="search__car1" src="/img/img2/car.png" alt="" srcset="">
                </a>
                <button class="cart_btn">
                    <p>0</p>
                </button>
            </div>
            <div class="mainheader__button">
                <button class="mainheader__search">
                    <img class="mainheader__lupa" src="/img/buscador.png" alt="" srcset="">
                </button>
                <input type="text" placeholder=" ¿We can help you? " class="mainheader__input">
            </div>
        </div>

    </header>

    {{{ body }}}

    <!--footer-->
    <section class="footer__body">
        <div class="footer__text">
            <div class="footer__politics">
                <h2 class="footer__ph2">Polices</h2>
                <h3 class="footer__ph3">Terms and Conditions</h3>
                <h4 class="footer__ph4">Privacy Notice</h4>
                <h5 class="footer__ph5">Cookie Usage Policy</h5>
            </div>
            <div class="footer__service">
                <h2 class="footer__sh2">Links of interest</h2>
                <h3 class="footer__sh3">Customer Service</h3>
                <h4 class="footer__sh4">Kactu Points</h4>
                <h5 class="footer__sh5">Locate the store</h5>
            </div>
            <div class="footer__contact">
                <h2 class="footer__ch2">About us</h2>
                <h3 class="footer__ch3">Our brand</h3>
                <h4 class="footer__ch4">Working with us</h4>
            </div>
        </div>
    </section>

    <script src="/scripts/cart.js"></script>
</body>

</html>