<section class="error__404">
    <div class="error__box">
        <img class="error__boxImagen" src="/img/img2/404.png" alt="">
        {{!-- <h1 class="error__boxText">¡Something has happened!!</h1> --}}
        {{!-- <h2 class="error__boxJext">Come back and check again</h2> --}}

    </div>
</section>