<!--cart-->
<section class="cart">
    <div class="cart__header">
        <div class="cart__square">Shopping Bag
            <hr class="cart__line">
        </div>
    </div>
</section>

<section class="confirmation">
    <div class="confirmation__box">
        <div class="confirmation__boxBox">
            <a href="/" class="confirmation__boxBoxHome">Home</a>
            <a href="/shop" class="confirmation__boxBoxShop">Shop</a>
            <a href="/checkout" class="confirmation__boxBoxCheck">Checkout</a>
        </div>
    </div>
</section>

<main class="cart">
    <div class="cart__text">
        <h3 class="cart__tittle">Total</h3>
        <p class="cart__p"><span class="cart__total">0</span></p>
    </div>
    <div class="cart__shop">
        <div class="cart__list"></div>
    </div>
    <div class="body">
        <img class="body__img" alt="">
        <p class="body__name"></p>
        <small class="body__price"></small>
        {{!-- <button class="body__remove"></button> --}}
    </div>

    {{!-- lista --}}
</main>