<!--cart-->
<section class="cart">
    <div class="cart__header">
        <div class="cart__square">Shopping Bag
            <hr class="cart__line">
        </div>
    </div>
</section>

<main class="cart">
    <div class="cart__list"></div>
    <div class="body">
        <img class="body__img" alt="">
        <h1 class="body__name"></h1>
        <small class="body__price"></small>
        {{!-- <button class="body__remove"></button> --}}
    </div>
    {{!-- lista --}}
</main>