<!--shop-->
<section class="checkouta">
    <div class="checkouta__shineCheckout">
        <div class="checkouta__square">Checkout
            <hr class="checkouta__line">
        </div>
    </div>
</section>


<section class="checkout">
    <!--Alerta de error si no llena los espacios requeridos mostrará este error-->
    {{#if showError}}
    <div class="checkout__error">
        <h3 class="checkout__errorName">Error</h3>
        <p class="checkout__errorParrafo"> <strong>¡Lo sentimos! </strong></strong><br>
            Necesitamos que llenes todos los campos <br>
            para continuar con tu compra
        </p>
    </div>
    {{/if}}
    <form class="checkout__form" action="/checkout" method="POST">
        <div class="checkout__body">
            <h1 class="checkout__bodyName">Contact Information</h1>
            <div class="checkout__bodyPls">
                {{!-- direccion de email --}}
                <label for="Adress Email">
                    Email
                </label>
                <input type="text" placeholder="Adress Email" name="adressemail">
            </div>
        </div>
        {{!-- segunda parte del checkou --}}
        <div class="checkout__s">
            <h1 class="checkout__sName">Shipping Adress</h1>
            {{!-- name and last name --}}
            <div class="checkout__sBody1">
                <div class="checkout__sBody1s1">
                    <label for="Name">
                        Name
                    </label>
                    <input type="text" placeholder="Name" name="firstname">
                </div>
                <div class="checkout__sBody1s2">
                    <label for="Surname">
                        Surname
                    </label>
                    <input type="text" placeholder="Surname" name="lastname" required="true">
                </div>
            </div>

            {{!-- dirección de casa --}}
            <div class="checkout__sBody2">
                <label for="Adress">
                    Adress
                </label>
                <input type="text" placeholder="Adress" name="adress">
            </div>
            {{!-- casa, apartamento --}}
            <div class="checkout__sBody3">
                <label for="Home Adress">
                    Home Adress
                </label>
                <input type="text" placeholder="Apartament, suit, home" name="homeadress">
            </div>

            {{!-- ciudad y pais --}}
            <div class="checkout__sBody4">
                <div class="checkout__sBody4s1">
                    <label for="City">
                        City
                    </label>
                    <input type="text" placeholder="City" name="city">
                </div>
                <div class="checkout__sBody4s2">
                    <label for="Country">
                        Country
                    </label>
                    <input type="text" placeholder="Country" name="country" required="true">
                </div>
            </div>

            {{!-- edad y telefono --}}
            <div class="checkout__sBody5">
                <div class="checkout__sBody5s1">
                    <label for="Age">
                        Age
                    </label>
                    <input type="text" placeholder="Age" name="age" type="number">
                </div>
                <div class="checkout__sBody5s2">
                    <label for="Phone">
                        Phone
                    </label>
                    <input type="text" placeholder="Phone" name="phone" type="number">
                </div>
            </div>
        </div>
        <input name="products" type="hidden" class="checkoutform__products">

        <button class="checkout__button">Send</button>
    </form>
</section>

<script src="/scripts/checkout.js"></script>