<h1>Checkout</h1>

<form action="/checkout" method="POST">
    <label for="name">
        name
        <input placeholder="name" name="Name" required ="true">
    </label>

    <label for="surname">
        surname
        <input placeholder="surname" name="surname" required ="true">
    </label>
    <button>Send</button>
</form>