<h1>Checkout</h1>

<!--Alerta de error si no llena los espacios requeridos mostrará este error-->
{{#if showError}}
<section>  
    <h3>Error</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est culpa asperiores dignissimos exercitationem possimus sequi fuga ut commodi doloribus libero, quasi maiores quo numquam repellat, magnam magni fugiat voluptate. Assumenda?</p>
</section>
{{/if}}

<form action="/checkout" method="POST">
    <label for="Name">
        Name
        <input placeholder="Name" name="firstname">
    </label>

    <label for="Surname">
        Surname
        <input placeholder="Surname" name="address" required="true">
    </label>

    <label for="Age">
        Age (optional)
        <input placeholder="Age" name="Age" type="number">
    </label>
    <button>Send</button>
</form>