<section class="confirmation">
    <div class="confirmation__box">
        <img class="confirmation__boxImg" src="/img/img2/1c.jpeg" alt="">
        <h1 class="confirmation__boxH1">¡Your order has been received!</h1>
        <h2 class="confirmation__boxH2">In a few minutes we will send the shipping guide to your email so that you are
            aware of your products</h2>
        <h3 class="confirmation__boxH3">Thanks for your purchase</h3>
        <h3 class="confirmation__boxH4">You can continue buying or discover our new types of products</h3>
        <button class="confirmation__boxButton1">Product Store</button>
        <button class="confirmation__boxButton2">Home</button>
    </div>
</section>