<div>
<header class="product__header">
    <h1 class="product__tittle"> {{ tittle }} </h1>
</header>

<section class="product__section">  
    <img src="{{ img }}" alt="" srcset="">
    <p> {{ description }} </p>
</section>
</div>