//cuadro de cart
.cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0px;

}
.cart__square{
    flex-direction: row;
    justify-content: center;
  
    width: 700px; 
    height: 70px; 
    line-height: 70px;
    border: 2px solid $kactu-color;
    text-align: center;
    font-family: $specially-font;
    color: $kactu-color;
    font-size: 32px;
    
        @media (max-width: $responsive) {
            font-size: 20px;
            width: 350px; 
            height: 60px; 
            line-height: 60px;
        }
}
.cart__line{
    height: 10px;
    width: 110%;
    background-color: $primary-color;
    border: none;
    margin: -35px 0px 0px -30px;

    @media (max-width: $responsive) {
        margin: -32px 0px 0px -20px;
        height: 8px;
    }
}

.cart{

    display: flex;
    width: 100%;
    //max-width: 75%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px 0px 0px 0px;

    @media (max-width: $responsive) {
        padding: 0px 0px;
    }
    
    &__text{
        margin: auto;
        align-items: center;
        font-family: $primary-font;
        background: rgb(255, 237, 216);
        border: 3px solid $primary-color;
        border-radius: 12px;
        padding: 0px 0px 0px 0px;

        @media (max-width: $responsive) {
            display: flex;
            flex-direction: column;
            width: 260px;
            height: 75px;
            margin: auto;
        }
    }
    &__tittle{
            color: $kactu-color;
            font-size: 20px;
            text-align: center;
            align-items: center;
            margin: 8px 0px 0px 0px;
            justify-content: center;

            @media (max-width: $responsive) {
                width: 100%;
                margin: 5px 0px 0px 0px;
            }
        }
    
    &__p{
            color: $texto-color;
            font-size: 15px;
            text-align: center;
            font-style: normal;
            text-align: center;
            align-items: center;
            margin: 8px 60px 20px 60px;

            @media (max-width: $responsive) {
                width: 100%;
                margin: 8px 0px 20px 0px;
            }

        }
    

    &__total{
        color: $kactu-color;
        font-size: 20px;
        text-align: center;
        align-items: center;
        margin: 8px 0px 0px 0px;
        justify-content: center;

        @media (max-width: $responsive) {
            width: 100%;
            margin: 5px 0px 0px 0px;
        }
    }
    


    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__shop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        
        @media (max-width: $responsive) {
            width: 100%;
        }
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        @media (max-width: $responsive) {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            padding: 0px 30px 0px 30px;
        }

    }

    &__item{
        width: 23%;
        margin-top: 20px;
        @media (max-width: $responsive) {
            width: 46%;
            padding: 0px 7px 0px 7px;

        }
    }

}
.body{
    margin-bottom: 20px;
    @media (max-width: $responsive) {
        margin: 0px 0px 0px 0px;
    }
    
    &__img{
        width: 100%;
        @media (max-width: $responsive) {
            width: 100%;
        }
    }

    &__info{
        display: flex;
        justify-content: space-between;
    }


    &__name{
        margin: 0px 0px 0px 0px;
        //line-height: 35px;
        font-family: $primary-font;
        font-size: 16px; 
        //font-weight: 250;
        line-height: 27px;
        font-style: normal;
        color: $texto-color;
    }

    &__price{
        //margin: -26px 0px 0px 0px;
        line-height: 35px;
        font-family: $primary-font;
        font-size: 16px; 
        line-height: 27px;
        font-style: normal;
        text-align: right;
        color: $texto-color;
        margin-left: 20px;
    }

    &__remove{
            width: 50%;
            height: 7%;
            line-height: 25px;
            font-family: $primary-font;
            border: none;
            border-radius: 4px;
            color: #ffffff;
            //background-color: rgb(247, 247, 247);
            background: $kactu-color;
            text-align: center;
            font-size: 14px; 
            cursor: pointer;
            text-decoration: none;
            margin-top: 2px;
        
        &:hover{
            background: rgb(122, 140, 192);
        }  
    }

}

//BOTONES

.confirmation{

    &__box{
        display: flex;
        flex-direction: column;
        justify-content: space-b;
        align-items: center;
        &Box{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            @media (max-width: $responsive) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 0px 0px 20px 0px;

            }

            //HOME
            &Home{
                    width: 200px;
                    height: 4%;
                    line-height: 25px;
                    font-family: $primary-font;
                    border: none;
                    border-radius: 5px;
                    color: #ffffff;
                    background: $kactu-color;
                    text-align: center;
                    font-size: 14px; 
                    cursor: pointer;
                    text-decoration: none;
                    margin: 0px 20px 0px 0px;


                    @media (max-width: $responsive) {
                        align-items: center;
                        width: 200px;
                        height: 32px;
                        text-align: center;
                        line-height: 32px;
                        margin: 20px 0px 20px 0px;
                    }
            }
            &Home:hover{
               background: rgb(122, 140, 192);
            }

            //SHOP
            &Shop{
                width: 200px;
                height: 4%;
                line-height: 25px;
                font-family: $primary-font;
                border: none;
                border-radius: 5px;
                color: #ffffff;
                background: $kactu-color;
                text-align: center;
                font-size: 14px; 
                cursor: pointer;
                text-decoration: none;   
                margin: 0px 20px 0px 0px;
 
                
                @media (max-width: $responsive) {
                    align-items: center;
                    width: 200px;
                    height: 32px;
                    text-align: center;
                    line-height: 32px;
                    margin: 0px 0px 20px 0px;
                }
            }
            &Shop:hover{
                background: rgb(122, 140, 192);
            }
            
            //CHECKOUT
            &Check{
                width: 200px;
                height: 4%;
                line-height: 25px;
                font-family: $primary-font;
                border: none;
                border-radius: 5px;
                color: #ffffff;
                background: $kactu-color;
                text-align: center;
                font-size: 14px; 
                cursor: pointer;
                text-decoration: none; 
                margin: 0px 20px 0px 0px;


                @media (max-width: $responsive) {
                    align-items: center;
                    width: 200px;
                    height: 32px;
                    text-align: center;
                    line-height: 32px;
                    margin: 0px 0px 20px 0px;
                }
            }
            &Check:hover{
                background: rgb(122, 140, 192);
            }
            
        }
    }
}
