
//titulo de chekout
.checkouta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px;

    &__square{
        flex-direction: row;
        justify-content: center;
        
        width: 700px; 
        height: 70px; 
        line-height: 70px;
        border: 2px solid $kactu-color;
        text-align: center;
        font-family: $specially-font;
        color: $kactu-color;
        font-size: 32px;
        
            @media (max-width: $responsive) {
                font-size: 30px;
                width: 350px; 
                height: 60px; 
                line-height: 60px;
            }
        }
        
    &__line{
        height: 10px;
        width: 110%;
        background-color: $primary-color;
        border: none;
        margin: -35px 0px 0px -30px;
        
        @media (max-width: $responsive) {
            margin: -32px 0px 0px -20px;
            height: 8px;
        }
    }
}


//todo de chekout
.checkout{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &__error{

            align-items: center;
            font-family: $primary-font;
            background: rgb(255, 237, 216);
            border: 3px solid $primary-color;
            border-radius: 12px;
            padding: 0px 0px 0px 0px;

            @media (max-width: $responsive) {
                display: flex;
                flex-direction: column;
                width: 350px;
                height: 140px;
                margin: 0px 0px 20px 0px;
            }

           &Name{
                color: $kactu-color;
                font-size: 20px;
                text-align: center;
                align-items: center;
                margin: 8px 0px 0px 0px;
                justify-content: center;

                @media (max-width: $responsive) {
                    width: 100%;
                    margin: 5px 0px 0px 0px;
                }
            }
                
            &Parrafo{
                color: $texto-color;
                font-size: 15px;
                text-align: center;
                font-style: normal;
                text-align: center;
                align-items: center;
                margin: 8px 60px 20px 60px;

                @media (max-width: $responsive) {
                    width: 100%;
                    margin: 8px 0px 20px 0px;
                }

            }
        }
        
    

    &__form{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;        
    }

    &__button{
        width: 350px;
        height: 35px;
        margin: 0px 0px 20px 0px;
        line-height: 35px;
        font-family: $primary-font;
        background-color: $kactu-color;
        border: none;
        color: white;
        text-align: center;
        font-size: 14px; 
        cursor: pointer;

        @media (max-width: $responsive) {
            width: 100%;
            margin: 20px 0px 20px 5px;
        }

    }
    &__button:hover{
        background-color: rgb(122, 140, 192);
    }


    //primera parte
    &__body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 83%;
        margin: 20px 0px 20px 0px;
        
        @media (max-width: $responsive) {
            width: 175%;
            display: flex;
            flex-direction: column;
            margin: 0px 0px 0px 0px;
        }


        &Name{
            font-family: $primary-font;
            border: none;
            color: $texto-color;
            margin: 0px 10px 10px 50px;
        
            @media (max-width: $responsive) {
                display: flex;
                flex-direction: column;
                width: 325px;
                margin: 0px 0px 15px 0px;
            }
        }
        &Pls{
            flex-direction: row;
            font-family: $primary-font;
            border: none;
            color: $kactu-color;
            margin: 10px 10px 20px 50px;

            @media (max-width: $responsive) {
                display: flex;
                flex-direction: column;
                width: 325px;
                margin: 0px 0px 0px 0px;
                        
            }

            & input{
                font-family: $primary-font;
                height: 30px;   
                width: 71%; 
                border: 2px solid $decoration-color;
                background: #ffffff;
                color: $kactu-color;
                margin: 0px 40px 0px 20px;
                padding: 0px 20px;    
                
                @media (max-width: $responsive) {
                    width: 325px;
                    margin: 0px 0px 30px 0px;
                }
           }
        }
    }

    //SEGUNDA PARTE DEL CHEKOUT
    &__s{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
 
        @media (max-width: $responsive) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0px 0px 0px 0px;
        }
        
        &Name{
            font-family: $primary-font;
            border: none;
            color: $texto-color;        
            margin: 0px 10px 0px 50px;

            @media (max-width: $responsive) {
                display: flex;
                flex-direction: column;
                width: 325px;
                margin: 0px 0px 15px 0px;
            }
        }
        &Body1{
            font-family: $primary-font;
            border: none;
            color: $kactu-color;
            display: flex;
            flex-direction: row;
            margin: 10px 10px 0px 50px;
            @media (max-width: $responsive) {
                flex-direction: column;
                margin: 0px 0px 0px 0px;
            }

            &s1{
                @media (max-width: $responsive) {
                    margin: 0px 0px 0px 0px;
                }
                & input{
                    font-family: $primary-font;
                    height: 30px;    
                    width: 45%;
                    border: 2px solid $decoration-color;
                    color: $kactu-color;
                    margin: 25px -10px 0px 20px;
                    padding: 0px 20px;    
                    
                    @media (max-width: $responsive) {
                        width: 325px;
                        margin: 0px 0px 10px 0px;
                    }
                }
            }

            &s2{
                @media (max-width: $responsive) {
                    margin: 0px 0px 0px 0px;
                }
                & input{
                    font-family: $primary-font;
                    height: 30px;    
                    width: 45%;
                    border: 2px solid $decoration-color;
                    color: $kactu-color;
                    margin: 25px 0px 0px 20px;
                    padding: 0px 20px;    
                    
                    @media (max-width: $responsive) {
                        width: 325px;
                        margin: 0px 0px 10px 0px;
                    }
                }
            }
        }
        &Body2{
            font-family: $primary-font;
            border: none;
            color: $kactu-color;
            margin: 0px 10px 0px 50px;

            @media (max-width: $responsive) {
                flex-direction: column;
                margin: 0px 0px 0px 0px;
            }

            & input{
                font-family: $primary-font;
                height: 30px;   
                width: 74%; 
                border: 2px solid $decoration-color;
                color: $kactu-color;
                margin: 25px 0px 0px 20px;
                padding: 0px 20px;    
                
                @media (max-width: $responsive) {
                    width: 325px;
                    margin: 0px 0px 10px 0px;
                }
            }
        }
        &Body3{
            font-family: $primary-font;
            border: none;
            color: $kactu-color;
            margin: 0px 10px 0px 50px;

            @media (max-width: $responsive) {
                flex-direction: column;
                margin: 0px 0px 0px 0px;
            }

            & input{
                font-family: $primary-font;
                height: 30px; 
                width: 64.5%;   
                border: 2px solid $decoration-color;
                color: $kactu-color;
                margin: 25px 0px 0px 20px;
                padding: 0px 20px;    
                
                @media (max-width: $responsive) {
                    width: 325px;
                    margin: 0px 0px 10px 0px;
                }
            }
        }
        &Body4{
            font-family: $primary-font;
            border: none;
            color: $kactu-color;
            display: flex;
            flex-direction: row;
            margin: 0px 10px 0px 50px;
            @media (max-width: $responsive) {
                flex-direction: column;
                margin: 0px 0px 0px 0px;
            }

            &s1{
                margin-left: 0px;
                @media (max-width: $responsive) {
                    margin: 0px 0px 0px 0px;
                }
                & input{
                    font-family: $primary-font;
                    height: 30px;
                    width: 50%;    
                    border: 2px solid $decoration-color;
                    color: $kactu-color;
                    margin: 25px 0px 0px 20px;
                    padding: 0px 20px;    
                    
                    @media (max-width: $responsive) {
                        width: 325px;
                        margin: 0px 0px 10px 0px;
                    }
                }
            }

            &s2{
                margin-left: 5px;
                @media (max-width: $responsive) {
                    margin: 0px 0px 0px 0px;
                }
                & input{
                    font-family: $primary-font;
                    height: 30px;    
                    width: 50%;    
                    border: 2px solid $decoration-color;
                    color: $kactu-color;
                    margin: 25px 0px 0px 20px;
                    padding: 0px 20px;    
                    
                    @media (max-width: $responsive) {
                        width: 325px;
                        margin: 0px 0px 10px 0px;
                    }
                }
            }
        }
        &Body5{
            font-family: $primary-font;
            border: none;
            color: $kactu-color;
            flex-direction: row;
            display: flex;
            margin: 0px 10px 0px 50px;
            @media (max-width: $responsive) {
                flex-direction: column;
                margin: 0px 0px 0px 0px;
            }
            
            &s1{
                margin: 0px -39px 0px 0px;
                @media (max-width: $responsive) {
                    margin: 0px 0px 0px 0px;
                }
                & input{
                    font-family: $primary-font;
                    height: 30px;    
                    width: 20%;
                    border: 2px solid $decoration-color;
                    color: $kactu-color;
                    margin: 25px 0px 25px 20px;
                    padding: 0px 20px;    
                    
                    @media (max-width: $responsive) {
                        width: 325px;
                        margin: 0px 0px 10px 0px;
                    }
                }
            }

            &s2{
                @media (max-width: $responsive) {
                    margin: 0px 0px 0px 0px;
                }
                & input{
                    font-family: $primary-font;
                    height: 30px;    
                    width: 25%;
                    border: 2px solid $decoration-color;
                    color: $kactu-color;
                    margin: 25px 0px 25px 20px;
                    padding: 0px 20px;    
                    
                    @media (max-width: $responsive) {
                        width: 325px;
                        margin: 0px 0px 10px 0px;
                    }
                }
            }
        }
    
    }

}