.product__tittle{
    font-size: 30px;
    color: lightcoral;
    background: lightgray;
    width: 500px;
    height: 40px;
}

.product__section{
    background: lightsalmon;
    width: 100%;
    height: auto;
}

.product{
    background: lightsteelblue;
    &--with-options{
        background:limegreen;
    }
}