//SCSS DE LA TIENDA

//LISTA DE PRODUCTOS
.orders{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    line-height: 52px;
    font-family: $primary-font;
    justify-content: center;
    color: $kactu-color;

    &__class{
        width: 300px;
        height: 35px;
        border: 1.5px solid $kactu-color; 
        font-size: 14px;
        line-height: 52px;
        font-family: $primary-font;
        color: $kactu-color;
        font-style: normal;
        margin-left: 20px;
        margin-top: 8px;
    }
}


//shop picture
.shopPic{
    
    &__imagen {
        width: 100%;
    }

}
//cuadro de shop
.shop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px;
}

.shop__square{
    flex-direction: row;
    justify-content: center;
  
    width: 700px; 
    height: 70px; 
    line-height: 70px;
    border: 2px solid $kactu-color;
    text-align: center;
    font-family: $specially-font;
    color: $kactu-color;
    font-size: 32px;
    
        @media (max-width: $responsive) {
            font-size: 20px;
            width: 350px; 
            height: 60px; 
            line-height: 60px;
        }
}

.shop__line{
    height: 10px;
    width: 110%;
    background-color: $primary-color;
    border: none;
    margin: -35px 0px 0px -30px;

    @media (max-width: $responsive) {
        margin: -32px 0px 0px -20px;
        height: 8px;
    }
}

//contenido de los productos - filtros, ordenamientos y productos
.content_product{
    display: flex;
    padding: 0px 0px 0px 20px;
}

//lista nombre
.list{
    font-size: 25px;
    line-height: 52px;
    font-family: $primary-font;
    color: $kactu-color;
    margin-left: 56px;
}


//lista de productos
.productList{
    display: flex;
    width: 100%;
    //max-width: 75%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 35px 0px 0px 0px;
}

//especificaciones del producto
.thumb{
    margin-left: 8px;
    margin-bottom: 20px;
    width: 20%;

    &__tittle{
        margin: 0px 0px 0px 0px;
        line-height: 35px;
        font-family: $primary-font;
        font-size: 22px; 
        color: $texto-color;
        
    }

    &__name{
        margin: 0px 0px 0px 0px;
        //line-height: 35px;
        font-family: $primary-font;
        font-size: 16px; 
        font-weight: 250;
        line-height: 27px;
        font-style: normal;
        color: $texto-color;
    }

    &__number{
        margin: -26px 0px 0px 0px;
        line-height: 35px;
        font-family: $primary-font;
        font-size: 16px; 
        line-height: 27px;
        font-style: normal;
        text-align: right;
        color: $texto-color;
    }

    &__rating{
        margin: 0px 0px 0px 0px;
        //line-height: 35px;
        font-family: $primary-font;
        font-size: 16px; 
        line-height: 27px;
        font-style: normal;
        color: $texto-color;
    }


    &__img {
        width: 100%;
        margin: 0px 0px 0px 0px;
    }
    
    &__vibu{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &View{
            width: 40%;
            height: 100%;
            margin-top: 1.5px;
            line-height: 25px;
            font-family: $primary-font;
            border: 1.5px solid $kactu-color;
            color: $kactu-color;
            text-align: center;
            font-size: 14px; 
            cursor: pointer;
            
            & a{
                text-decoration: none;
                color: $kactu-color;
            }
            
        }
        &View:hover{
            background: rgb(228, 231, 240);
        }    
        &Button{
            width: 40%;
            height: 18%;
            line-height: 25px;
            font-family: $primary-font;
            border: none;
            color: #ffffff;
            //background-color: rgb(247, 247, 247);
            background: $kactu-color;
            text-align: center;
            font-size: 14px; 
            cursor: pointer;
            text-decoration: none;
            margin-top: 2px;
        }
        &Button:hover{
            background: rgb(122, 140, 192);
        }  
    }
}

//FILTROS A LA IZQUIERDA

.filterside{
    display: flex;
    flex-direction: column;

    margin: 52px 0px 0px 0px;


    &__name{
        font-family: $primary-font;
        color: $kactu-color;
        font-size: 25px;
        line-height: 52px;
        //margin: 72px 0px 0px 0px;
    }

    &__line{
        height: 4px;
        width: 128%;
        background-color: $decoration-color;
        border: none;
        margin: -20px 0px 0px 0px;
    }

    //type
    &__typeProduct{
        font-family: $primary-font;
        color: $kactu-color;
        font-size:18px;
        line-height: 52px;
        margin: 0px 0px 0px 0px;
    }

    &__ul{
        margin: 0px 0px 0px 0px;
        padding:  0px 0px 0px 0px;
    }

    &__link{
        padding:  0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        font-family: $primary-font;
        color: $texto-color;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        text-decoration: none;
        text-align: left;
        :hover{
            background-color: rgba(243, 205, 196, 0.815);
            width: 100%;
            border-radius: 10px;
            margin: 0px 0px 0px 0px;
        }
    }

    //rating
    &__titlerating{
        font-family: $primary-font;
        color: $kactu-color;
        font-size:18px;
        line-height: 52px;
        margin: 0px 0px 0px 0px;
    }

    //freeShipping
    &__titlefree{
        font-family: $primary-font;
        color: $kactu-color;
        font-size:18px;
        line-height: 52px;
        margin: 0px 0px 0px 0px;
    }

}