//SCSS DE LA TIENDA

//shop picture
.shopPic{
    
    &__imagen {
        width: 100%;
    }

}
//cuadro de shop
.shop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px;
}

.shop__square{
    width: 700px; 
    height: 70px; 
    line-height: 70px;
    border: 2px solid $kactu-color;
    text-align: center;
    font-family: $specially-font;
    color: $kactu-color;
    font-size: 32px;
    
        @media (max-width: $responsive) {
            font-size: 20px;
            width: 350px; 
            height: 60px; 
            line-height: 60px;
        }
}

.shop__line{
    height: 10px;
    width: 110%;
    background-color: $primary-color;
    border: none;
    margin: -35px 0px 0px -30px;

    @media (max-width: $responsive) {
        margin: -32px 0px 0px -20px;
        height: 8px;
    }
}

//contenido de los productos - filtros, ordenamientos y productos
.content_product{
    display: flex;
    padding: 0px 0px 0px 30px;
    margin: 0px 0px 0px 0px;
}


//lista de productos
.productList{
    display: flex;
    width: 100%;
    //max-width: 75%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 0px 0px 20px;

}

//especificaciones del producto
.thumb{
    margin-left: 8px;
    margin-bottom: 20px;
    width: 20%;

    &__tittle{
        margin: 0px 0px 0px 0px;
        line-height: 35px;
        font-family: $primary-font;
        font-size: 22px; 
        
    }

    &__name{
        margin: 0px 0px 0px 0px;
        //line-height: 35px;
        font-family: $primary-font;
        font-size: 16px; 
        font-weight: 250;
        line-height: 27px;
        font-style: normal;
    }

    &__number{
        margin: -26px 0px 0px 0px;
        line-height: 35px;
        font-family: $primary-font;
        font-size: 16px; 
        line-height: 27px;
        font-style: normal;
        text-align: right;
    }

    &__rating{
        margin: 0px 0px 0px 0px;
        //line-height: 35px;
        font-family: $primary-font;
        font-size: 16px; 
        line-height: 27px;
        font-style: normal;
    }


    &__img {
        width: 100%;
        margin: 0px 0px 0px 0px;

    }
    
    &__vibu{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &View{
            width: 40%;
            height: 100%;
            margin-top: 1.5px;
            line-height: 25px;
            font-family: $primary-font;
            border: 1.5px solid $kactu-color;
            text-align: center;
            font-size: 14px; 
            cursor: pointer;
            & a{
                text-decoration: none;
            }
            
        }
        &View:hover{
            background: rgb(230, 235, 250);
        }    
        &Button{
            width: 40%;
            height: 18%;
            line-height: 25px;
            font-family: $primary-font;
            border: 1.5px solid $kactu-color;
            color: $kactu-color;
            background-color: rgb(247, 247, 247);
            text-align: center;
            font-size: 14px; 
            cursor: pointer;
            text-decoration: none;
        }
    }

}

//ordfil - ordenamientos y filtros a la izquierda


/*.table{
    td{
        border: 3px solid yellow;
        margin: 0px;
    }
}*/
